

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body, h1, h2, h3, h4, h4, h6, p, span, li, blockquote{font-family: 'Open Sans', sans-serif;}

body {
  background-color: #EAEBEC;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}


.light-bg {
  background-color: #FFFFFF;
}

.navbar-nav {
  margin-top:15px;


  a {
    color: #FFFFFF;
    font-size: 1em;
  }

}

.navbar-default {
  border: none;
  background: #FFFFFF;
}

.btn {
  color: #FFFFFF;
  border-radius: 40px;
  padding: 15px 25px;
  min-width: 200px;
  border: none;
  font-size: 0.9em;
  font-weight: bold;
}

.btn:hover {
  color: #FFFFFF;
}

.btn-default {
  background-color: #404141;
}

.btn-default:hover {
  background-color: #000000;
}

.btn-primary {
  background-color: $btn-default-color;
}

.btn-primary:hover {
  background-color: $btn-defaul-hovert-color;
}

.btn-link {
  color: $btn-default-color;
}

.btn-link:hover {
  color: $btn-defaul-hovert-color;
}

a {
  color: $btn-default-color;
}

a:hover {
  color: $btn-defaul-hovert-color;
}

li .btn {
  margin-top: -15px;
}



p{
  font-size: 1.2em;
  line-height: 1.6;

}

.taller-line-height {
  line-height: 1.7;
}

h1 {
  font-size: 4em;
}

.font-light {
  font-weight: 100;
}

.text-center {
  text-align: center;
}

.carousel-indicators {
  bottom: -50px;
}


.carousel-indicators li {
  background-color: #BDBDBD;
  width: 10px !important;
  height: 10px !important;

}

.carousel-indicators li.active {
  background-color: #2375D2;
  margin: 1px;
}

.carousel-control {
  width: 5%;
}

.carousel-inner-left,
.carousel-inner-right {
  width: 50%;
  display: inline-block;
}


.carousel-inner-right  {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: left;
  vertical-align: middle;
  transform: translateY(-50%);
  padding: 0 5%;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;

  .glyphicon {
    width: 40px;
    height: 40px;
    background-color: #EFF0F1;
    border-radius: 100%;
    padding: 7px 0;
    color: black;
    font-weight: 100;
    margin-top: -20px;
    margin-left: -20px;
  }

}

.panel {
  background-color: transparent;
}

@media only screen and (max-width: 768px) {

  .carousel-inner-left,
  .carousel-inner-right {
    width: 100%;
    display: block;
  }

  .carousel-inner-right  {
    position: relative;
    transform: none;
    left: 0;
    padding: 10px;
    margin-top: 40px;
    text-align: center;
  }

  .container-past-challenges {
    .carousel-control {
      width: 50%;
    }

  }
  .carousel-control.left,
  .carousel-control.right {

    .glyphicon {
      margin-top: 5px;
    }

    .glyphicon-chevron-left {
      margin-left: 25%;
    }

    .glyphicon-chevron-right {
      left: 20px;
    }
  }

  .carousel-indicators {
    display: none;
  }
}