


// Top container which including registration sections
.top-container {
  background: url("../img/top-image.jpg") no-repeat top right;
  height: 600px;
  margin-top: -20px;
  padding: 50px 1.2em;
  text-align: center;
  color: #FFFFFF;
}

.top-container .row {
  padding: 10px 0;
}

.top-container h1 {
  font-weight: 100;
}

.top-container-col {
  margin-top: 20px;
  padding: 2.2em;
  background-color: #FFFFFF;
  text-align: center;
  color: #000000;
}

.top-container-col h2 {
  font-weight: 100;
}

.top-container-text {
  padding: 2em;
}


.row-involved {
  margin-top: -160px;
  padding: 0 10%;
}

// Event Information section
.event-description {
  text-align: center;
  width: 70%;
  margin: 30px auto;
}

.event-regions {
  text-align: center;
  color: white;
  position: relative;


  .event-region {
    color: #fff;
    cursor: pointer;
    position: relative;
    display: block;
  }

  .event-region-shadow {
    position: absolute;
    background-color: #0A0A0A;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.7;
  }

  .event-region:hover {
     font-style:normal;
     text-decoration: none;

     .event-region-shadow {
       opacity: 0.9;
     }

     .event-region-text {
       text-decoration: none;
     }
  }

  .event-region-shadow:hover {
    opacity: 0.9;
  }


  .event-region-image {
    width: 100%;
    height: auto;
  }

  .event-region-text {
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: -75px;
    color: #fff;
  }

}

.container-past-challenges {
    margin-top: 30px;

   .carousel-winner {
     margin-top: 30px;
     background-color: #ffffff;
   }



}


.container-sponsors {
   padding: 70px 10px 0 10px;
}

.twitter-panel {
  padding: 0 5%;
  width: 100%;
  text-align: center;
}

.footer-okfna {
   width: 30px;
}

footer {
  padding: 10px 10%;
  line-height: 30px;
}


@media only screen and (max-width: 768px) {
  h1 {
    font-size: 3em;
  }

  h3 {
    font-size: 1em;
  }

  .event-description {
    width: 90%;
  }

  .event-regions .col-sm-3 {
    margin: 10px 0;
    padding: 10px;
  }



}