.top-container-normal {
  background: url("../img/top-image.jpg") no-repeat top right;
  height: 200px;
  text-align: center;
  vertical-align: middle;
  margin-top: -20px;
  padding-top: 20px;
  color: white;
}

.container-normal {
  padding-left: 5px;
  padding-right:5px;
  height: 550px;
}
.thin-container-normal {
  height: 100%;
  text-align: center;
  vertical-align: middle;
  position: relative;
  width: 85%;
  margin: 0 auto;
  padding: 40px 0 80px 0;
  color: black;
    .col-md-4, .col-xs-6 {
      padding-top: 20px;
    }
}

.location-side {
  background-color: #EAEBEC;
  padding: 10px 20px;
  text-align: left;
  font-weight: lighter;
  h3 {
    font-weight: lighter;
  }
}
.text-side {
  padding: 10px 20px;
  text-align: left;
  font-weight: lighter;
  h3, h2 {
    font-weight: lighter;
  }
  hr {
    border-top: 1px dashed #ccc;

  }
  button {
    float: right;
  }
  img {
    border: .5px solid #ccc;
    float:left;
    height: 100px;
    width: 150px;
    margin-right: 20px;
  }
  .organiser-details {
    p {
      margin-bottom: 0;
    }
  }
}

.challenge-title {
  .organiser-details {
    margin-top: 45px;

  }
}

.container-white-background {
  background-color: white;
}

#map_canvas {
  width: 100%;
  height: 200px;
}

.bottom-container {
  background-color: #363435;
  text-align: center;
  vertical-align: middle;
  position: relative;
  padding: 50px 0 60px 0;
  color: white;
  h3 {
    margin-bottom: 20px;
    margin-left: 0;
    margin-top: 20px;
	}
  h4 {
    font-weight: lighter;
    margin-bottom: 20px;
  }
}

.quote-side {
  background-color: #EAEBEC;
  padding: 10px 20px 0 20px;
  margin-top: 50px;
  text-align: center;
  font-weight: lighter;
  word-wrap: break-word;
  h3 {
    font-weight: lighter;
  }
}
.quotes{
  font-family: Georgia, serif;
  font-size: 1.2em;
    font-style: italic;
    margin-bottom: 2em;
    margin-top: -1em;
    padding: 0.35em 30px;
    line-height: 1.45;
    position: relative;
    color: black;
}
.quotes:before {
  display: block;
    padding-left: 10px;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    left: -20px;
    top: -25px;
}
.quotes:after {
  display: block;
    content: "\201D";
    font-size: 80px;
    position: absolute;
    right: 0px;
    bottom: -70px;
}
#triangle-down {
  width: 10px;
  bottom:-30px;
  margin: 0px auto;
  position: relative;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 40px solid #EAEBEC;
}
.circular-centered {
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 350%;
  border-radius: 50%;
	width: 100px;
	height: 100px;
  position:relative;
  top: -40px;
  margin: 0px auto;
}

.organiser-image {
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100%;
  border-radius: 50%;
  float:left;
  width: 100px;
  height: 100px;
  position:relative;
  top: 15px;
  margin-right: 20px;
}

.organiser-details {
  float:left;
  margin-bottom: 20px;

}

.right-info-box {
  background-color: #EAEBEC;
  padding: 20px 20px;
  text-align: center;
  font-weight: lighter;
  h3 {
    font-weight: lighter;
  }
  border-bottom: 5px solid #c9c9c9;
  margin-bottom: 20px;
  .btn {
    min-width: 137px;
    width: 100%;
    max-width: 200px;
  }
}

.form-control {
  max-width: 300px;
}

.challenge-row{
  .btn {
    float: left;
    margin: 10px 10px 10px 0;
  }
  .grey-btn {
    background-color: #718795;
    color: #ffffff;
  }
  .grey-btn:hover {background-color: #3e5564}
  .white-btn {
    background-color: #ffffff;
    color: #718795;
    border: 1px #718795 solid;
  }
  .white-btn:hover {
    color: #3e5564;
    border: 1px #3e5564 solid;
    background-color: #e1e8ec;
  }
}

@media only screen and (max-width: 768px) {
  .form-control {
    margin:0 auto;
  }
  .thin-container-normal {
    width:90%;
  }
  .top-container-normal {
    padding: 20px 25px;
  }
}
