---
title: Melbourne
---

<html>
  <head>
    <title>sdfsdf</title>
    <style>
      #map_canvas {
        width: 250px;
        height: 250px;
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script>
      function initialize() {
        var mapCanvas = document.getElementById('map_canvas');
        var mapOptions = {
          center: new google.maps.LatLng(-33.863001,151.208787),
          zoom: 8,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(mapCanvas, mapOptions)
        var marker = new google.maps.Marker({
            position: new google.maps.LatLng(-33.863001,151.208787),
            map: map,
            title: 'Sydney'
        });

      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </head>
  <body>

    <div class="row">
      <div class="col-md-9">
        <h3><b>Melbourne HealthHack Challenges</b></h3>

        <ul class="pagination">
          <li><a href="/locations/melbourne/challenge5">&laquo;</a></li>
          <li><a href="/locations/melbourne/challenge1">1</a></li>
          <li><a href="/locations/melbourne/challenge2">2</a></li>
          <li><a href="/locations/melbourne/challenge3">3</a></li>
          <li><a href="/locations/melbourne/challenge4">4</a></li>
          <li><a href="/locations/melbourne/challenge5">5</a></li>
          <li class="active"><a href="/locations/melbourne/challenge6">6</a></li>
          <li class="disabled"><a href="/locations/melbourne/challenge6">&raquo;</a></li>
        </ul>

        <div markdown="block">
***
</div>

        <div class="row">
          <div class="col-md-8">
            <h3>Prioritising gene variants as they churn off the genomics pipeline</h3>
            <em><h4>Presented by <a href=" http://au.linkedin.com/in/margueriteevansgalea" target="_blank">Dr Marguerite Evans-Galea</a> <a href="https://twitter.com/MVEG001" target="_blank">@MVEG001</a> and <a href="http://au.linkedin.com/pub/charles-galea/7/803/b" target="_blank">Dr Charles Galea</a> <a href="https://twitter.com/CAPG001" target="_blank">@CAPG001</a></h4></em>
          </div>
          <div class="col-md-4">
            <!--<a href="http://www.monash.edu.au/" target="_blank"><%= image_tag 'img/sponsors/monash.jpg', :style => 'width:300px;',:alt => 'Monash University' %></a>-->
          </div>
        </div>

<div markdown="block">

***

The ‘omics’ era is upon us and genome sequencing is increasingly being integrated into clinical practice and used to develop personalised medicines. In searching for new genes responsible for a given disease, large cohorts of individuals will have their DNA sequenced and evaluated by qualified geneticists and bioinformaticians, to determine which genes are most likely to contribute to the disease state.<br/>
This can be particularly challenging, however, when exploring multigenic complex diseases such as autism or schizophrenia. After a series of analyses and filtering processes, sometimes >200 gene variants will be identified as possible candidates. Researchers must then decide the best candidate genes to move into their basic and translational research programs. Laboratory studies and disease models are costly in both time and funding, so it is essential to maximise our ability to prioritise candidate genes from the genomics pipeline.<br/>
Toward this goal, we are keen to develop a novel, user-friendly module that automates a series of sequence- and structure-based protein analyses, and systematic review of the literature. This will complement existing filters to better prioritise potential pathogenic gene variants. It will also enhance the ability of clinicians to predict disease outcome and trajectory.<br/>
Once this module is optimised and demonstrated to work well, it could be incorporated into almost any hospital/institute’s ‘omics’ pipeline.

***

</div>


        <%= partial "disqus" %>
      </div>
      <div class="col-md-3">
        <div id="map_canvas"></div>
        <h3>Address:</h3>
        <p>ThoughtWorks Australia Pty. Ltd.
            8/51 Pitt Street
            Sydney NSW 2000</p>
      </div> 
    </div> 
  </body>
  <%= partial "sponsors" %>
</html>