---
title: Melbourne
---

<html>
  <head>
    <title>sdfsdf</title>
    <style>
      #map_canvas {
        width: 250px;
        height: 250px;
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script>
      function initialize() {
        var mapCanvas = document.getElementById('map_canvas');
        var mapOptions = {
          center: new google.maps.LatLng(-33.863001,151.208787),
          zoom: 8,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(mapCanvas, mapOptions)
        var marker = new google.maps.Marker({
            position: new google.maps.LatLng(-33.863001,151.208787),
            map: map,
            title: 'Sydney'
        });

      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </head>
  <body>

    <div class="row">
      <div class="col-md-9">
        <h3><b>Melbourne HealthHack Challenges</b></h3>

        <ul class="pagination">
          <li><a href="/locations/melbourne/challenge6">&laquo;</a></li>
          <li><a href="/locations/melbourne/challenge1">1</a></li>
          <li><a href="/locations/melbourne/challenge2">2</a></li>
          <li><a href="/locations/melbourne/challenge3">3</a></li>
          <li><a href="/locations/melbourne/challenge4">4</a></li>
          <li><a href="/locations/melbourne/challenge5">5</a></li>
          <li><a href="/locations/melbourne/challenge6">6</a></li>
          <li class="active"><a href="/locations/melbourne/challenge7">7</a></li>
          <li class="disabled"><a href="/locations/melbourne/challenge7">&raquo;</a></li>
        </ul>

        <div markdown="block">
***
</div>

        <div class="row">
          <div class="col-md-8">
            <h3>Superbug Analytics</h3>
          </div>
          <div class="col-md-4">
            <!--<a href="http://www.monash.edu.au/" target="_blank"><%= image_tag 'img/sponsors/monash.jpg', :style => 'width:300px;',:alt => 'Monash University' %></a>-->
          </div>
        </div>

<div markdown="block">

***

The rise of antibiotic-resistant bacteria, or Superbugs, has become a serious threat to public health and the economy worldwide. This is exemplified by Barack Obama recently announcing a new Executive Order together with a National Strategy for combating antibiotic-resistant bacteria (18/09/2014). In this HealthHack challenge, we will explore if social media data mining can be used for microbial prevalence monitoring.

The key steps will involve:<br/>
1. Filtering Twitter tweets based on a list of keywords related to microbial, antimicrobial and superbug topics<br/>
2. Analysing the tweets using advance data analytics techniques<br/>
3. Interactive reporting

The tool will allow the establishment of a baseline, the exploration of trends, and the detection of unusual events.

***

</div>


        <%= partial "disqus" %>
      </div>
      <div class="col-md-3">
        <div id="map_canvas"></div>
        <h3>Address:</h3>
        <p>ThoughtWorks Australia Pty. Ltd.
            8/51 Pitt Street
            Sydney NSW 2000</p>
      </div> 
    </div> 
  </body>
  <%= partial "sponsors" %>
</html>