<!DOCTYPE html>
    <head>
        <title><%= current_page.data.title || "HTML5 Boilerplate" %></title>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="css/main.css" rel="stylesheet" media="screen">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,800italic,700italic,400,700,300,800' rel='stylesheet' type='text/css'>
	    <!--[if lt IE 9]>
	      <script src="../../assets/js/html5shiv.js"></script>
	      <script src="../../assets/js/respond.min.js"></script>
	    <![endif]-->    
            <script type="text/javascript">

              var _gaq = _gaq || [];
              _gaq.push(['_setAccount', 'UA-45161709-1']);
              _gaq.push(['_trackPageview']);

              (function() {
              var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
              ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
              })();

            </script> 
	</head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->
	        
		<div class="container">
	        <div class="header">
	        </div>
			<%= partial "nav" %>
			
        <%= yield %>
        <footer>
          <p class="text-muted">HealthHack 2013</p>
        </footer>
	</div>
		<script src="//code.jquery.com/jquery.js"></script>
	    <script src="js/vendor/bootstrap.min.js"></script>
    </body>
</html>
