<div>
  <h3>What will the day be like?</h3>

  <h4>Day One - Friday</h4>

  <div class="row">
    <div class="col-md-2 col-sm-2">18:00</div>
    <div class="col-md-10 col-sm-10">Event starts with nibbles and drinks</div>
  </div>
  <div class="row">
    <div class="col-md-2 col-sm-2">18:30</div>
    <div class="col-md-10 col-sm-10">Event kick-off welcome speeches and videos</div>
  </div>
  <div class="row">
    <div class="col-md-2 col-sm-2">19:00</div>
    <div class="col-md-10 col-sm-10">Presentations by problem owners and forming teams with suitable skill-sets</div>
  </div>
  <div class="row">
    <div class="col-md-2 col-sm-2">22:45</div>
    <div class="col-md-10 col-sm-10">Office cleanup and closed</div>
  </div>

  <h4>Day Two - Saturday</h4>

  <div class="row">
    <div class="col-md-2 col-sm-2">8:00</div>
    <div class="col-md-10 col-sm-10">Melbourne office doors open, small nibbles and coffee throughout the day</div>
  </div>
  <div class="row">
    <div class="col-md-2 col-sm-2">9:00</div>
    <div class="col-md-10 col-sm-10">Sydney office doors open, small nibbles and coffee throughout the day</div>
  </div>
  <div class="row">
    <div class="col-md-2 col-sm-2">10:00 - 17:00</div>
    <div class="col-md-10 col-sm-10">Most problem owners (researchers) will be available for show and tell</div>
  </div>
  <div class="row">
    <div class="col-md-2 col-sm-2">17:00 - 19:00</div>
    <div class="col-md-10 col-sm-10">Continue working on projects, with food available</div>
  </div>
  <div class="row">
    <div class="col-md-2 col-sm-2">22:45</div>
    <div class="col-md-10 col-sm-10">Office cleanup and closed</div>
  </div>

  <h4>Day Three - Sunday</h4>

  <div class="row">
    <div class="col-md-2 col-sm-2">8:00</div>
    <div class="col-md-10 col-sm-10">Melbourne office doors open, small nibbles and coffee throughout the day</div>
  </div>
  <div class="row">
    <div class="col-md-2 col-sm-2">9:00</div>
    <div class="col-md-10 col-sm-10">Sydney office doors open, small nibbles and coffee throughout the day</div>
  </div>
  <div class="row">
    <div class="col-md-2 col-sm-2">16:00</div>
    <div class="col-md-10 col-sm-10">Tools down, entries submitted for judging</div>
  </div>
  <div class="row">
    <div class="col-md-2 col-sm-2">16:30 - 17:30</div>
    <div class="col-md-10 col-sm-10">Entry presentations (and drinks)</div>
  </div>
  <div class="row">
    <div class="col-md-2 col-sm-2">17:30 - 18:30</div>
    <div class="col-md-10 col-sm-10">Judges deliberate</div>
  </div>
  <div class="row">
    <div class="col-md-2 col-sm-2">18:30</div>
    <div class="col-md-10 col-sm-10">Prize presentations and closing</div>
  </div>
  <div class="row">
    <div class="col-md-2 col-sm-2">19:00</div>
    <div class="col-md-10 col-sm-10">Office cleanup and closed</div>
  </div>

</div>
