<div class="challenge-row">
  <div class="clearfix">
    <!--<span class="challenge-winner-label clearfix">
      <span class="glyphicon glyphicon-star"></span>
      Winner Title
    </span>-->
    <h3 class="name">Name</h3>
    <p class="city">
      <span>City</span> |
      <a href="organisation">Organisation</a>
    </p>
    <p class="summary">Description</p>
    <a class="workingDemoLink" href="workingDemoLink">
      <button type="submit" class="btn-primary btn grey-btn">WORKING DEMO</button>
    </a>
    <a class="detailsLink" href="detailsLink">
      <button class="btn-primary btn white-btn">DETAILS</button>
    </a>
  </div>
  <hr/>
</div>
