<div class="col-md-9 text-side challenge-container">
  <div class="challenge-data">

    <div class="clearfix challenge-title">
      <div><%= image_tag 'img/sponsors/garvan.jpg', :class => 'sponsor' , :alt => 'Garvan Institute' %></div>
      <div class="organiser-details">
        <p>Presented by Example A and Example B</p>
        <a href="organisation"><b>Organisation</b></a>
      </div>
    </div>
    <div class="details-panel">
      <h2>The problem</h2>
      <p class="description">TBA</p>
      <br>
    </div>
<!--    <a class="team" href="team"><b>VIEW TEAM INFORMATION</b></a> -->
  </div>
</div>
