<div class="<%= "#{className}" %>">
    <h2>Get involved, join the Health Hack in your city</h2>
    <div class="top-container-text">
        <p>Whether you’re a developer, UX designer, data analyst or researcher, we want you.</p>
    </div>
    <div class="clearfix">
    	<a href="http://healthhack2015.eventbrite.com.au/">
    		<button class="btn btn-default"> GET INVOLVED</button>
    	</a>
    </div>
</div>