<!--a href="#"><http://healthhack2015.eventbrite.com.au/"-->
	<button id='involved-button-<%= "#{id}" %>' class="btn btn-default">GET INVOLVED</button>
<!--/a-->
<script type="text/javascript">
    $( document ).ready(function() {
        $('#involved-button-<%= "#{id}" %>').click(function() {
            var message_div = $("<div>", { html : "<strong>Registration opens soon</strong><br><br>As part of our registration process we'll be asking participants to tell us why they'd like to be involved in HealthHack and what they'd like to get out of the event. We believe that providing these responses will help participants to get in the right frame of mind in the lead up to the event. Collecting them helps us to better plan for the day. We promise to only use your answers for good, so start thinking up some really awesome answers now!<br>" });
            var alert_div = $("<div>", { class: "alert alert-info fade in" });
            var close = $("<a>", { href: "#",
                                   class: "close",
                                   'data-dismiss': "alert",
                                   'aria-label': "close",
                                   html: "&times;" });
            alert_div.append(close);
            alert_div.append(message_div);
            $( document.body ).prepend(alert_div);

            message_div.css("padding", "20px").css("padding-top", "15px").css("text-align", "center");
            alert_div.css("width", '70%').css("position","absolute").css("z-index","5000").css("top","50%").css("left","50%").css("margin",(-(alert_div.height()/2))+"px 0 0 "+(-(alert_div.width()/2))+"px").css("z-index","10").css("position","fixed"); 
        });
    });
</script>
