<div class="<%= "#{className}" %>">
    <h2>Get involved, join the Health Hack in your city</h2>
    <div class="top-container-text">
        <p>Whether you’re a developer, UX designer, data analyst or researcher, we want you.</p>
    </div>
    <div class="clearfix">
        <%= partial(:getInvolvedButton, :locals => { :id => "side" }) %>
    </div>
</div>