<div class="row">
  <div class="col-md-12">

    <h3 id="winners"><b>Melbourne Winners 2014</b></h3><br/>

  </div>
</div>

<div class="row">
  <div class="col-md-4 col-sm-4">

    <p><img alt="First place winners" class="img-responsive" src="/img/winners/melb_first_place.JPG" /></p>

  </div>
  <div class="col-md-8 col-sm-8">

    <h4>First place - Team VizMyGrant</h4>

    <p><a class="btn btn-primary btn-sm hipsterteal" href="https://viz-my-grant.shinyapps.io/view/" target="_blank">Working demo</a> <a class="btn btn-default btn-sm" href="https://github.com/HealthHackAu/HealthHack2014/wiki/VizMyGrant" target="_blank">Team page</a></p>

    <p>VizMyGrant will enable advocates to rapidly explore the characteristics of grants (such as institutions, gender, state) and create compelling visual aids that can be used to highlight areas for policy improvement.</p>

  </div>
</div>
<div class="row">
  <div class="col-md-4  col-sm-4">

    <p><img alt="Second place winners" class="img-responsive" src="https://pbs.twimg.com/media/B03MBUFCAAEGk8e.jpg" /></p>

  </div>
  <div class="col-md-8 col-sm-8">

    <h4>Second place - Team girror</h4>

    <p><a class="btn btn-primary btn-sm hipsterteal" href="" target="">Working demo</a> <a class="btn btn-default btn-sm" href="https://github.com/HealthHackAu/HealthHack2014/wiki/girror%3A-tracking-your-emotions-and-gambling-behaviour" target="_blank">Team page</a></p>

    <p>Tracking your emotions and gambling behaviour</p>
  </div>
</div>
<div class="row">
  <div class="col-md-4 col-sm-4">

    <!--<p><img alt="Spirit of HealthHack award" class="img-responsive" src="https://pbs.twimg.com/media/B06KbTFCcAACbms.jpg" /></p>-->

  </div>
  <div class="col-md-8 col-sm-8">
    <h4>'Spirit of HealthHack' prize - Team MIF</h4>

    <p><a class="btn btn-primary btn-sm hipsterteal" href="" target="_blank">Working demo</a> <a class="btn btn-default btn-sm" href="https://github.com/HealthHackAu/HealthHack2014/wiki/Mutation-Instability-Filter-(MIF)" target="_blank">Team page</a></p>

    <p>Mutation Instability Filter</p>
  </div>
</div>
