<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="/" class="navbar-brand boldbrand">
        <%= image_tag 'healthhack-logo/HH_Logo.svg', :alt => 'HealthHack Logo' %>
    </a>
  </div>
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Challenges", "/challenges.html", title: "Challenges" %></li>
        <li><%= link_to "Sponsors", "/sponsors.html", title: "Sponsors" %></li>
        <li><%= link_to "Event Organisers", "/organisers.html", title: "Event Organisers" %></li>
        <li><a href="mailto:info@healthhack.com.au">Contact</a></li>
      <div class="nav-btn">
        <span><a href="mailto:info@healthhack.com.au"><button class="btn btn-primary">SUBMIT A CHALLENGE</button></a></span>
        <span><a href="http://healthhack2015.eventbrite.com.au/"><button class="btn btn-default">GET INVOLVED</button></a></span>
      </div>
    </ul>
  </div>
  <!-- /.navbar-collapse -->
</nav>
