<div class="organiser">
    <div class="organiser-header clearfix"> 
        <div class="organiser-image" 
          style="background-image:url('images/organisers/image.jpg')">
        </div>
        <div class="organiser-details">
          <h3>Name</h3>
          <p>Role | City</p>
          <a href="mailto:email">Email</a>
        </div>
    </div>
    <div class="organiser-bio">
      <p>Organiser bio</p>
    </div>
    <hr/>
</div>