<div class="bottom-container">
    <h3 class="sideoffset">Want to sponsor the Health Hack?</h2>
    <h4>Enter your email below and we'll get in touch with you</h4>
    <form class="form-inline">
        <div class="form-group">
            <label for="inputEmail" class="sr-only">Email</label>
            <input type="email" class="form-control" id="inputEmail" placeholder="Enter your E-mail here">
        </div>
	    <button type="submit" class="btn-primary btn">Send</button>
    </form>
</div>
