<div class="col-md-4 col-xs-6 sponsor-block-cn">
    <div class="sponsor-block-inner">
        <div class="sponsor-logo-img-div">
            <a id="<%= "#{sponsorName}" %>-href" target="_blank" href="">
                <img id="<%= "#{sponsorName}" %>-img" alt="" class="sponsor-img" src="">
            </a>
        </div>
    </div>
</div>
<script>
    sponsor_logo_names.push("<%= "#{sponsorName}" %>");
</script>
