<div class="<%= "#{className}" %>">
    <h2>Got a medical research problem that you want to solve?</h2>
    <div class="top-container-text">
        <p>Drop us a message with the details <br>and we’ll get back to you.</p>
    </div>
    <div class="clearfix">
    	<a href="mailto:info@healthhack.com.au">
    		<button class="btn btn-primary"> SUBMIT A CHALLENGE</button>
    	</a>
    </div>
</div>