<div class="container-fluid top-container">
    <div class="row">
       <h1>A data hack for medical <br>research problems</h1>
       <h3>Sydney, Melbourne, Brisbane & Perth</h3>
       <h3>23 - 25 October 2015</h3>
    </div>
    <div class="row">
        <h4 class="taller-line-height">A FREE weekend dedicated to solving problems that medical researchers face,
            <br>whether you have a challenge yourself or want to donate your skills to the hack.</h4>
    </div>
</div>
<div class="container-fluid">
    <div class="row row-involved">
        <div class="col-md-6">
            <div class="top-container-col">
                <h2>Got a medical research problem that you want to solve?</h2>
                <div class="top-container-text">
                    <p>Drop us a message with the details <br>and we’ll get back to you.</p>
                </div>
                <a href="/problemowner"><button class="btn btn-primary"> SUBMIT A CHALLENGE</button></a>
            </div>

        </div>
        <div class="col-md-6">
            <div class="top-container-col">
                <h2>Have a skill you’d like to donate to the hack?</h2>
                <div class="top-container-text">
                    <p>Whether you’re a developer, UX designer, data analyst or researcher, we want you.</p>
                </div>
                <a href="/problemowner"><button class="btn btn-default"> SUBMIT A CHALLENGE</button></a>
            </div>
        </div>
    </div>
</div>

<div class="clearfix"> 
</div>

