

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body, h1, h2, h3, h4, h4, h6, p, span, li, blockquote{font-family: 'Open Sans', sans-serif;}
body {background:url(/img/background.jpg) no-repeat top left;}
#galleria{height:320px;}
footer{margin-top:20px;}
















