---
title: Perth
---
<script>
  google.maps.event.addDomListener(window, 'load', function () {
   initialize(-31.955214,115.859343);
  });
</script>
<div class="container-white-background">
  <div class="container-fluid top-container-normal">
      <div class="row">
         <h1>Perth</h1>
         <h3>20/44 St Georges Terrace, Perth</h3>
      </div>
  </div>
  <div class="thin-container-normal">
    <div class="row">
      <div class="col-md-9 text-side">
        <h3>What To Expect</h3>
        <p>In a sense, reading the extensions from right to left, will tell you the parsings that the file will undergo, ending up as a file in the format of the leftmost extension. In the case of the example, converting an erb file to an html file when serving, and when building the file.</p>
        <hr>
        <h3>Submit A Challenge</h3>
        <p>In a sense, reading the extensions from right to left, will tell you the parsings that the file will undergo, ending up as a file in the format of the leftmost extension. In the case of the example, converting an erb file to an html file when serving, and when building the file.</p>
        <div class="clearfix"><button type="submit" class="btn-primary btn">SUBMIT A CHALLENGE</button></div>
        <hr>
        <h3>Get Involved, join the Health Hack</h3>
        <p>In a sense, reading the extensions from right to left, will tell you the parsings that the file will undergo, ending up as a file in the format of the leftmost extension. In the case of the example, converting an erb file to an html file when serving, and when building the file.</p>
        <div class="clearfix"><button type="submit" class="btn-default btn">GET INVOLVED</button></div>
        <hr>
      </div>
      <div class="col-md-3">
        <div class="location-side">
          <h3>When</h3>
          <p>ThoughtWorks Perth
              20/44 St Georges Terrace
              Perth WA 6000</p>
          <h3>Where</h3>
          <p>ThoughtWorks Perth
              20/44 St Georges Terrace
              Perth WA 6000</p>
          <div id="map_canvas"></div>
          <h3>Contact</h3>
          <p>Maia Sauren</p>
        </div>
        <div class="quote-side">
          <div class="circular-centered" style="background-image: url('../imgages/misc/top-image.jpg')"></div>
          <div class="quotes">This is a sample quote that is not very inspiring but still somewhat helpful</div>
          <p>John Smith <br>
              ThoughtWorks Sydney</p>
          <div id="triangle-down"></div>
        </div>
      </div>
    </div>
  </div>
</div>
