---
title: Sydney
---

<html>
  <head>
    <title>sdfsdf</title>
    <style>
      #map_canvas {
        width: 250px;
        height: 250px;
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script>
      function initialize() {
        var mapCanvas = document.getElementById('map_canvas');
        var mapOptions = {
          center: new google.maps.LatLng(-33.863001,151.208787),
          zoom: 8,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(mapCanvas, mapOptions)
        var marker = new google.maps.Marker({
            position: new google.maps.LatLng(-33.863001,151.208787),
            map: map,
            title: 'Sydney'
        });

      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </head>
  <body>

    <div class="row">
      <div class="col-md-9">
        <h3>Problems</h3>
         <div class="row">
          <div class="col-md-9">
            <h3> Pedigree tree drawing tool </h3>
            <em><h4>Presented by Andreas Zankl, Garvan Institute</h4></em>
          </div>
          <div class="col-md-3">
<a href="http://www.garvan.org.au/" target="_blank"><%= image_tag 'img/sponsors/garvan.jpg', :style => 'width:150px;',:alt => 'Garvan Institute' %></a>
          </div>
        </div> 

<div markdown="block">

***  

A pedigree chart is a diagram that shows the occurrence and appearance or phenotypes of a particular gene or organism and its ancestors from one generation to the next, most commonly humans, show dogs, and race horses.

Pedigrees are commonly used in families to find out the probability of a child having a disorder in a particular family. its two most prominent goals are to discover where the genes in question are located (x, y, or autosome chromosome), and to determine whether a trait is dominant or reccessive. 

My proposition for the HealthHack is to build a prototype of a tool which will allow to draw pedigree charts with capability to import and export existing data.


</div>
      </div>
      <div class="col-md-3">
        <div id="map_canvas"></div>
        <h3>Address:</h3>
        <p>ThoughtWorks Australia Pty. Ltd.
            8/51 Pitt Street
            Sydney NSW 2000</p>
        <h3>Organisers:</h3>
        <p>Kelvin Nicholson</p>
        <p>Svetlana Filimonova</p>
      </div> 
    </div> 
  </body>
  <%= partial "sponsors" %>
</html>