---
title: Sydney
---

<html>
  <head>
    <title>sdfsdf</title>
    <style>
      #map_canvas {
        width: 250px;
        height: 250px;
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script>
      function initialize() {
        var mapCanvas = document.getElementById('map_canvas');
        var mapOptions = {
          center: new google.maps.LatLng(-33.863001,151.208787),
          zoom: 8,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(mapCanvas, mapOptions)
        var marker = new google.maps.Marker({
            position: new google.maps.LatLng(-33.863001,151.208787),
            map: map,
            title: 'Sydney'
        });

      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </head>
  <body>

    <div class="row">
      <div class="col-md-9">
        <h3><b>Sydney HealthHack Challenges</b></h3>

        <ul class="pagination">
          <li><a href="/problems2014/sydney/challenge4">&laquo;</a></li>
          <li><a href="/problems2014/sydney/challenge1">1</a></li>
          <li><a href="/problems2014/sydney/challenge2">2</a></li>
          <li><a href="/problems2014/sydney/challenge3">3</a></li>
          <li><a href="/problems2014/sydney/challenge4">4</a></li>
          <li class="active"><a href="/problems2014/sydney/challenge5">5</a></li>
          <li><a href="/problems2014/sydney/challenge6">6</a></li>
          <li><a href="/problems2014/sydney/challenge7">7</a></li>
          <li><a href="/problems2014/sydney/challenge6">&raquo;</a></li>
        </ul>

        <div markdown="block">
***
</div>

        <div class="row">
          <div class="col-md-9">
            <h3>Visualising what PubMedSaid</h3>
            <em><h4>Presented by <a href="http://www.garvan.org.au/research/cancer/epigenetics-research/fabbus" target="_blank">Dr Fabian Buske</a>, Quek Xiu Cheng and Kenneth Sabir, Garvan Institute</h4></em>
          </div>
          <div class="col-md-3">
            <a href="http://www.garvan.org.au/" target="_blank"><%= image_tag 'img/sponsors/garvan.jpg', :style => 'width:150px;',:alt => 'Garvan Institute' %></a>
          </div>
        </div>

<div markdown="block">

***

#### The problem
The rapidly growing body of scientific literature contains a wealth of information that is specifically written for a human audience. Reading through this information to extract links between data entities is however a time-consuming effort that requires expert knowledge.<br/>
While previously biologists have focused on understanding a small handful of genes, new experimental techniques can provide sets of hundreds of genes that can be overwhelming to comprehend. We need to understand what these large gene sets have in common and how they link to diseases such as cancer and diabetes.

#### The dream
The dream is to understand what makes a given large set of genes special. We have performed text mining against all public full text articles and we want an intuitive system to understand and query relationships contained within this data. As scientific discoveries are made by drawing new links between previously unconnected components such a framework would achieve both: facilitate as well as accelerate scientific discoveries across a broad range of scientific disciplines.

#### The status
We have processed more than 2 million full-text scientific articles on biological and medical sciences contained within Pubmed Central, extracted meaningful keywords and associated these with categories such as disease, genes, biological pathways, cellular function and many more. The resulting 6 billion data points have been deposited in a document database (MongoDB), that is available through a Web API.<br/>
Using Map-Reduce techniques we have created a table where each human protein-coding gene is mapped to every PubMed article it appears in along with every term found in these papers. We have algorithms for aggregating multiple genes and for performing basic statistics for over-representation.

#### The hack
Curiosity - having an question and going after the answer - is what drives science. To facilitate this process we require an interactive web front-end that allows intuitive querying across the various categories contained in our 'little' database as well as a visual presentation layer to convey the returned information and illustrate the connectivity between the discoveries.<br/>
Ideally, we let the data speak for itself such as getting ranked recommendations via collaborative filtering or consensus via aggregations but also link back to the original publications to enable further in-depth studies.

#### How this helps us
Not being able to go after the answer at the opportune moment an idea strikes can stop new discoveries in its tracks. Thus, a framework that can reveal the connections between distinct scientific fields or discoveries on the spot has the potential to facilitate future Eureka moments.

***

</div>


        <%= partial "disqus" %>
      </div>
      <div class="col-md-3">
        <div id="map_canvas"></div>
        <h3>Address:</h3>
        <p>ThoughtWorks Australia Pty. Ltd.
            8/51 Pitt Street
            Sydney NSW 2000</p>
      </div> 
    </div> 
  </body>
  <%= partial "sponsors" %>
</html>
