<footer>
	<div class="panel-footer">
		<div class="row">
		    <div class="col-xs-12 text-left"><p class="text-muted">HealthHack is an <a href="http://au.okfn.org/" target="_blank">Open Knowledge Foundation Australia event </a><a href="http://au.okfn.org/" target="_blank"><%= image_tag 'img/sponsors/okfna.png', :alt => 'Open Knowledge Foundation Australia' %></a> Supported by <a href="http://www.hisa.org.au/" target="_blank">The Health Informatics Society of Australia</a></div>
        </div>
	</row>
	</div>
</footer>