<footer>
	<div class="panel-footer">
		<div class="row">
		<div class="col-xs-8 text-right"><p class="text-muted"><br>HealthHack is an <a href="http://au.okfn.org/" target="_blank">Open Knowledge Foundation Australia event</a></p></div>
		<div class="col-xs-4 text-left"><a href="http://au.okfn.org/" target="_blank"><%= image_tag 'img/sponsors/okfna.png', :alt => 'Open Knowledge Foundation Australia' %></a></div>
        <div class="col-xs-8 text-right"><p class="text-muted"><br>Supported by <a href="http://www.hisa.org.au/" target="_blank">The Health Informatics Society of Australia</a></p></div>
	</row>
	</div>
</footer>