<footer>
  <div class="panel panel-default">
    <h3 class="sideoffset">Proud Sponsors</h3>
      <div class="row panel-body">
        <div class="col-md-9 col-sm-9">
          <div class="row" id="sponsors">
            <div class="col-md-4 col-sm-3 col-xs-6"><% link_to 'http://www.thoughtworks.com', :target => '_blank' do %><%= image_tag 'img/sponsors/tw14.jpg', :class => 'img-responsive', :alt => 'ThoughtWorks' %><% end%></div>
            <div class="col-md-3 col-sm-3 col-xs-6"><% link_to 'http://www.garvan.org.au', :target => '_blank' do %><%= image_tag 'img/sponsors/garvan.jpg', :class => 'img-responsive', :alt => 'Garvan Institute' %><% end%></div>
            <div class="col-md-3 col-sm-3 col-xs-6"><% link_to 'http://www.redhat.com', :target => '_blank' do %><%= image_tag 'img/sponsors/redhat.png', :class => 'img-responsive', :alt => 'Redhat'  %><% end%></div>
          </div>
        </div>
    </div>
   </div> 
</footer>   