<div class="page-header">
<%= image_tag 'img/healthhack_logo_2014.png',:class => 'img-rounded visible-xs' %>
<%= image_tag 'img/healthhack_logo_2014.png',:class => 'pull-left img-rounded hidden-xs',:style => 'margin-left:20px; margin-right:40px' %>

<!-- <h1 id="hhhead">HealthHack</h1> -->
<h2>24 Oct - 26 Oct 2014</h2>
<h3>A datahack for medical research problems</h3>
<h3 class="register">
	<a href="http://healthhackmelb2014.eventbrite.com.au" 
	class="btn btn-primary btn-lg active hipsterteal callToAction" 
	role="button">Register now</a>
</h3>

<p class="sponsor"> 
	Would you like to participate, sponsor or run one in your own city?<br/> 
	Please<a href="http://au.okfn.org/blog/"> get in touch</a>!
</p>

<div class="clearfix"> 
</div>
</div>  