<div class="page-header">
<div class="row">
  <div class="col-md-3">
    <%= image_tag 'img/healthhack_logo_2014.png'%>
  </div>
  <div class="col-md-8">
    <h3>A datahack for medical research problems</h3>
    <div>
      <h3>23 Oct - 25 Oct 2015</h3>
      <p><b>Melbourne | Sydney | Brisbane | Perth</b></p>
    </div>
    <div>
      <a class="btn btn-default" href="https://github.com/HealthHackAu/HealthHack2014/wiki">
        <h3>Projects
        <span><%= image_tag 'img/octocat.png', :alt => 'on Github' %></span></h3>
      </a>
    </div>

    <p class="sponsor">
      Have questions? Please<a href="mailto:info@healthhack.com.au"> get in touch</a>!
    </p>
  </div>

</div>


<div class="clearfix"> 
</div>
</div>  
