<div class="page-header">
<div class="row">
  <div class="col-md-3">
    <%= image_tag 'img/healthhack_logo_2014.png', :style => 'width:200px;'%>
  </div>
  <div class="col-md-6">
    <h3>A datahack for medical research problems</h3>
    <div class="row-md-3">
      <h3>24 Oct - 26 Oct 2014</h3>
      <p><b>Melbourne | Sydney | Brisbane | Perth</b></p>
    </div>
    <h3 class="register">
      <a href="http://healthhack2014.eventbrite.com.au"
         class="btn btn-primary btn-lg active hipsterteal callToAction"
         role="button">Register now</a>
    </h3>
    <p class="sponsor">
      Would you like to participate, sponsor or run one in your own city?<br/>
      Please<a href="mailto:info@healthhack.com.au"> get in touch</a>!
    </p>
  </div>

</div>


<div class="clearfix"> 
</div>
</div>  