<div class="page-header">
<%= image_tag 'img/healthhack-logo-300x221.jpg',:class => 'img-rounded visible-xs' %>
<%= image_tag 'img/healthhack-logo-300x221.jpg',:class => 'pull-right img-rounded hidden-xs',:style => 'margin-left:20px;' %>

<h1 id="hhhead">HealthHack</h1>
<h2 class="lead">A datahack for medical research problems</h2>
<p>HealthHack 2013 was a weekend hackfest solving problems that medical researchers face. HealthHack brought together medical researchers, bioinformaticians, software developers, data analysts, data visualisers and designers. Together, they created new software tools to analyse, visualise and communicate data.</p>
<div class="clearfix">
</div>
</div>