---
title: About | Health Hack 2013
---



<div markdown="block">

### Terms and conditions ###

All code and APIs must be available under an appropriately open license that allows reuse, commercial use, remixing and redistribution. As the owner of the code you can of course fork that code and commercialise if you want, but to be eligible for the competition, the codebase and demonstration submitted must be open sourced. All other content submitted must be Creative Commons BY licensed. The reason for the open licensing of code and content is because HealthHack is about useful outcomes that anyone can use and build on.

</div>
