---
title: About | Health Hack 2013
---


<div class="row">
	<div class="col-md-12">
		<h2>How will it work?</h3>
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		<h3>Friday night</h3>
		<h4>6pm for 7pm start</h4>
		<p>This is a must. You can’t take part in the hack if you miss out on Friday night! Form a team, choose a problem, have a drink if you fancy, get started. When you choose a problem, you will need to figure out what ‘done’ means, and how you will test it.</p>
	</div>
	<div class="col-md-4">
		<h3>Saturday &amp; Sunday</h3>
		<h4>From 9am &mdash; late</h4>
		<p>All the wifi, coffee and food your heart desires. Plenty of developer tools and support. Experts in research and technology will be around to act as data custodians and problem owners, as well as facilitators to help teams focus and move through problems.</p>
	</div>
	<div class="col-md-4">
		<h3>Saturday checkpoint</h3>
		<h4>3-4pm</h4>
		<p> Stop for a break, tell everyone where you’re at, maybe find someone to exchange skills with.</p>
		<h3>Sunday evening</h3>
		<h4>Tools down 4pm</h4>
		<p>THE END! showcase! prizes! drinks!</p>
	</div>
</div>
<div>
<h3>Terms and conditions</strong></h3>
<p>All code and APIs must be available under an appropriately open license that allows reuse, commercial use, remixing and redistribution. As the owner of the code you can of course fork that code and commercialise if you want, but to be eligible for the competition, the codebase and demonstration submitted must be open sourced. All other content submitted must be Creative Commons BY licensed. The reason for the open licensing of code and content is because HealthHack is about useful outcomes that anyone can use and build on.</p>
</div>