---
title: Challenges
---

<html>
  <body class="white-background">
    <div class="container-fluid top-container-normal">
        <div class="row">
           <h1>Challenges</h1>
           <h3>View our medical research problems and submit your own</h3>
        </div>
    </div>
    <div class="thin-container-normal">
      <div class="row">
        <div class="col-md-9 text-side">
          <div class="clearfix challenge-title">
            <div><%= image_tag 'img/sponsors/garvan.jpg', :class => 'sponsor' , :alt => 'Garvan Institute' %></div>
            <div class="organiser-details">
              <p>Presented by Example A and Example B</p>
              <a href="#">Garvan Institute</a>
            </div>
          </div>
          <p>TBA</p>
        </div>
        <div class="col-md-3">
          <div class="right-info-box">
            <h3>Got a medical research problem that you want to solve?</h3>
            <p>Drop us a message with the details and we'll get back to you</p>
            <div class="clearfix"><button type="submit" class="btn-primary btn">SUBMIT A CHALLENGE</button></div>
          </div>
          <div class="right-info-box">
            <h3>Get involved, join the Health Hack in your city</h3>
            <p>Whether you are a developer, UX designer, data analyst or researcher, we want you.</p>
            <div class="clearfix"><button type="submit" class="btn-default btn">GET INVOLVED</button></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
