---
title: Frequently Asked Questions
---



<div markdown="block">

## Frequently Asked Questions   

### Do participants need access to any software packages, accounts or permissions to work on your problem? Could we set up generic accounts and download stuff before the weekend? 

It may be much easier to do this on a weekday, so It's a good idea to try accessing all the data and software as if you were new to it, a few weeks ahead of time. 

Be aware that any tools and software produced at the hack will be free and publicly available during and after the event. However, your data doesn't need to be released or seen if there are reasons to kee­p it private. Do consider whether you can make it publicly available (if it isn't already, of course). If you can't release your data, your team would have to think about how to manage that as part of the solution. Keep in mind that the tools will be displayed afterwards; what other data might be used that shows how they work? Can we help you create dummy data for display or use? 
 
### Can I use a result of a hachathon, code, ideas?

All code and APIs must be available under an appropriately open license that allows reuse, commercial use, remixing and redistribution. As the owner of the code you can of course fork that code and commercialise if you want, but to be eligible for the competition, the codebase and demonstration submitted must be open sourced. All other content submitted must be Creative Commons BY licensed. The reason for the open licensing of code and content is because HealthHack is about useful outcomes that anyone can use and build on.

### But I have no idea what kind of problem I can bring! / My problems are different! / I have no idea what I'm doing!
Not to worry. Speak to one of the organisers! We can usually help tease out something small enough that a group of people can solve over a weekend, but large enough that it would make a difference. Even if you think this is weird, have a chat with an organiser and see what's possible.
            
I have lots of ideas! Can I bring them all to the hackathon?          You can certainly bring more than one! You can pitch several ideas and ask a group to choose one, or suggest two groups work on different ones. We suggest no more than two problems per problem owner. If you have lots of ideas, we suggest you bring another scientist to the weekend to act as problem owner for some of them.
            
### Will there be food?           
Yes! We will provide food, alcohol, caffeinated and non-­caffeinated beverages over the weekend. Each city will be doing things slightly differently, but you'll know ahead of time what to expect. We will be catering for vegetarians and those with lactose and gluten intolerances so please let us know when you register if there are other ways we can help look after you.
            
### What if nobody wants to works on my problem?
Sometimes it happens that an idea just does not get the attention it deserves, through no fault of anyone. Maybe there aren't the right skills in the room, or there is more of an interest in something else. In that case you are welcome to stay and participate ­perhaps join another team and provide your expertise, or you are welcome to go home and have an unexpectedly free weekend.
            
### What do I need to bring?    
A laptop and enthusiasm. We'll have whiteboards, paper, sticky notes, sharpies etc. If you think of anything else that might be necessary, let us know as early as possible.
            
### I have another question...  
<a href="mailto:info@healthhack.com.au">Contact us</a>

</div>