---
title: Health Hack 2014
layout: home
---
<div class="row" markdown="block">
<div class="col-md-8 col-sm-8" markdown="block">
<!--<div class="alert alert-warning">
<strong>Teams:</strong> Be sure to start setting up your team pages on the <a href="https://github.com/healthhack-melb/wiki/wiki">HealthHack Wiki</a>. Grab a helper if you need some help.
</div>-->
<div class="row">
<h3>What is HealthHack?</h3>
<p>
Seitan trust fund pop-up occupy, mumblecore normcore mustache bicycle rights kogi polaroid kale chips iPhone retro Shoreditch tattooed. Seitan fingerstache lomo, XOXO twee pork belly synth 8-bit American Apparel organic jean shorts selfies cardigan food truck plaid. Ethical keytar fap, VHS kale chips.
</p>
</div>
<div class="row">
<h3>What kinds of problems can I help solve?</h3>
<p>
Deep v artisan McSweeney's normcore, Thundercats ethical roof party next level kale chips. Umami seitan Bushwick, drinking vinegar slow-carb letterpress locavore Etsy Austin 8-bit. Wolf normcore church-key distillery Pitchfork, synth wayfarers paleo vinyl you probably haven't heard of them pour-over Helvetica.
</p>
</div>
<div class="row">
<h3>How can I participate?</h3>
<p>
stumptown. Post-ironic Austin single-origin coffee jean shorts vinyl. Vinyl hella retro, irony whatever sustainable Neutra disrupt tofu pickled artisan Brooklyn. Cosby sweater meggings butcher, banh mi +1 wolf.
</p>
</div>


</div>
<div class="col-md-4 col-sm-4" markdown="block">

<a class="twitter-timeline" href="https://twitter.com/search?q=%23healthhack+from%3Acraigdbutt+OR+from%3Afctweedie+OR+from%3Asauramaia+OR+from%3Aokfnau+OR+from%3Arkstedman+OR+from%3ADrAndrewYap+OR+from%3Asixthforce+OR+from%3Aa_sean_fleming+OR+from%3Aalisonmarigold+OR+from%3AChrisChinch+OR+from%3ASirRustyroo+OR+from%3Aperrynfowler+OR+from%3AKathyReid+OR+from%3Apiawaugh+OR+from%3Adfflanders+OR+from%3ALeon_Vandenberg+OR+from%3Aannaleeanda+OR+from%3AJenniferSmithCo+OR+from%3Anicsmythe" data-widget-id="394592403312496640">Tweets about "#healthhack from:craigdbutt OR from:fctweedie OR from:sauramaia OR from:okfnau OR from:rkstedman OR from:DrAndrewYap OR from:sixthforce OR from:a_sean_fleming OR from:alisonmarigold OR from:ChrisChinch OR from:SirRustyroo OR from:perrynfowler OR from:KathyReid OR from:piawaugh OR from:dfflanders OR from:Leon_Vandenberg OR from:annaleeanda OR from:JenniferSmithCo OR from:nicsmythe"</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

</div>
</div>

<div class="row" markdown="block">
<h3 class="title2013">Looking back at 2013<h3>
<div class="col-md-6">
<div class="row">
<div class="col-md-4 col-sm-4" markdown="block">
![Gene Machine - winners](http://farm4.staticflickr.com/3684/10524030675_200f8326ea_b.jpg){: .img-responsive}
</div>	
<div class="col-md-8 col-sm-8" markdown="block">
<p class="thumbtext">First prize - Gene Machine</p>

[Working demo](http://gene-machine.herokuapp.com/){: .btn .btn-primary .btn-sm .hipsterteal} [Team page](https://github.com/healthhack-melb/wiki/wiki/Gene-Machine){: .btn .btn-default .btn-sm}
</div>
</div>

<div class="row" markdown="block">
<div class="col-md-4 col-sm-4" markdown="block">
![EPI View - second place](http://farm8.staticflickr.com/7325/10524251083_094f837a9c_z.jpg){: .img-responsive}
</div>
<div class="col-md-8 col-sm-8" markdown="block">
<p class="thumbtext">Second prize - EPI View</p>

[Working demo](http://ec2-54-200-80-223.us-west-2.compute.amazonaws.com:8100/){: .btn .btn-primary .btn-sm .hipsterteal} [Team page](https://github.com/healthhack-melb/wiki/wiki/EPI-View){: .btn .btn-default .btn-sm}
</div>
</div>

<div class="row" markdown="block">
<div class="col-md-4 col-sm-4" markdown="block">
![Paperboy! - Spirit of HealthHack award](http://farm3.staticflickr.com/2848/10524034235_d6b6cab44f_z.jpg){: .img-responsive}
</div>
<div class="col-md-8 col-sm-8" markdown="block">
<p class="thumbtext">Spirit of HealthHack prize - Paperboy!</p>

[Working demo](http://paperboy.meteor.com/){: .btn .btn-primary .btn-sm .hipsterteal} [Team page](https://github.com/healthhack-melb/wiki/wiki/Paperboy){: .btn .btn-default .btn-sm}
</div>
</div>
</div>

<div class="col-md-6" markdown="block">
<div id="galleria" markdown="block">
</div>
</div>
</div>	

