---
title: Health Hack 2013
layout: home
---

<div class="row">
	<div class="col-md-6">	
		<div class="alert alert-warning">
			<strong>Teams:</strong> Be sure to start setting up your team pages on the <a href="https://github.com/healthhack-melb/wiki/wiki">HealthHack Wiki</a>. Grab a helper if you need some help.
		</div>
		<h3>Where and when?</h3>
		<p>Fri 25 Oct – Sun 27 Oct, at ThoughtWorks office, <%= link_to "15/303 Collins St Melbourne", "http://goo.gl/M6J2so", title: "map", target: "_blank" %></p>
		<h3>Who is this for?</h3>
		<p>Health Hack is open to everyone and anyone. From data vis, designers and UX’ers, through to web developers and hard core application developers. Never participated in one of these things before? A bit of a newbie? Perfect; come along. Pull a team together to tackle some fascinating problems in medical research. Build your own mashups, data visualisations and apps. HealthHack is about having fun and learning, regardless of your level of expertise. From first year university students through to hardened developers, everyone who gets involved will come away from the weekend with something new, whether it be code, content, an idea or new contacts.</p>
		<h4>Can I participate remotely?</h4>
		<p>Yes you can! Form your own team where you are, or find a team in Melbourne to work with on Friday night. We’ll have video link facilities. If you know any scientists near you who would like to participate, all the better. If you’d like to be involved remotely, please get in touch with us ahead of time so we can organise All The Things.</p>
	</div>
	<div class="col-md-6">
		<h3>What's happening right now?</h3>
                <p><a class="twitter-timeline" data-dnt="true" href="https://twitter.com/search?q=%23healthhack" data-widget-id="393963485777768448">Tweets about "#healthhack"</a>
		  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </p>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<h3>Latest photos</h3>
		<div id="galleria">
		</div>
	</div>
</div>
