---
title: Health Hack 2014
layout: home
---
<div class="row" markdown="block">
<div class="col-md-8 col-sm-8" markdown="block">
<!--<div class="alert alert-warning">
<strong>Teams:</strong> Be sure to start setting up your team pages on the <a href="https://github.com/healthhack-melb/wiki/wiki">HealthHack Wiki</a>. Grab a helper if you need some help.
</div>-->
<div class="row">
<h3>What is HealthHack?</h3>
<p>
HealthHack is a weekend data hack dedicated to problems that medical researchers face. Scientists often create vast amounts of data, but don’t always have good ways to analyse, visualise and communicate it. This weekend will bring together software developers, user experience designers, data analysts and visualisers working directly with researchers to create new, better tools. 
</p>

<h3>What kinds of problems can I help solve?</h3>
<p>
  Review the proposed challenges for <%= link_to "Sydney", "/locations/sydney/challenge1", title: "Sydney" %> or <%= link_to "Melbourne", "/locations/melbourne/challenge1", title: "Melbourne" %>. Feel free to ask questions in the comments thread below each challenge description.
</p>
<p>
Have a look at <a href="http://healthhackmelb.com/problems2013/">last year's proposed problems</a> - that will give you a good sense of the kinds of things we might tackle.</p>

<h3>How can I participate?</h3>
<p>
Are you a software developer, data analyst, user experience designer, data journalist, or just generally awesome?<a href="http://healthhack2014.eventbrite.com.au/">Register now</a>!
</p>
<p>	
Are you a medical or clinical researcher and would like to propose a problem? Maybe you'd you like to sponsor us? Please <a href="mailto:info@healthhack.com.au">get in touch</a>!
</p>
</div>
</div>


<div class="col-md-4 col-sm-4" markdown="block">

<a class="twitter-timeline" href="https://twitter.com/search?q=%23healthhack+from%3Acraigdbutt+OR+from%3Afctweedie+OR+from%3Asauramaia+OR+from%3Aokfnau+OR+from%3Arkstedman+OR+from%3ADrAndrewYap+OR+from%3Asixthforce+OR+from%3Aa_sean_fleming+OR+from%3Aalisonmarigold+OR+from%3AChrisChinch+OR+from%3ASirRustyroo+OR+from%3Aperrynfowler+OR+from%3AKathyReid+OR+from%3Apiawaugh+OR+from%3Adfflanders+OR+from%3ALeon_Vandenberg+OR+from%3Aannaleeanda+OR+from%3AJenniferSmithCo+OR+from%3Anicsmythe+OR+from%3AWeAreSydney+OR+from%3AWeMelbourne+OR+from%3Awepublichealth" data-widget-id="394592403312496640">Tweets about "#healthhack from:craigdbutt OR from:fctweedie OR from:sauramaia OR from:okfnau OR from:rkstedman OR from:DrAndrewYap OR from:sixthforce OR from:a_sean_fleming OR from:alisonmarigold OR from:ChrisChinch OR from:SirRustyroo OR from:perrynfowler OR from:KathyReid OR from:piawaugh OR from:dfflanders OR from:Leon_Vandenberg OR from:annaleeanda OR from:JenniferSmithCo OR from:nicsmythe OR from:WeAreSydney OR from:WeMelbourne OR from:wepublichealth"</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

</div>
</div>

<div class="row" markdown="block">
***  
<div class="col-md-6">
<%= partial "agenda" %>
</div>
<div class="col-md-6" markdown="block">
<div id="galleria" markdown="block">
</div>
<div markdown="block">

### Melbourne, photos are made by [Tim Hildred](https://au.linkedin.com/in/timhildred)
  
</div>
</div>
</div>


