---
title: Health Hack 2014
layout: home
---
<div class="row" markdown="block">
<div class="col-md-8 col-sm-8" markdown="block">
<!--<div class="alert alert-warning">
<strong>Teams:</strong> Be sure to start setting up your team pages on the <a href="https://github.com/healthhack-melb/wiki/wiki">HealthHack Wiki</a>. Grab a helper if you need some help.
</div>-->
Congratulations to our 2013 winners
<a href="/winners2013">
![Gene Machine - winners](http://farm4.staticflickr.com/3684/10524030675_200f8326ea_b.jpg){: .img-responsive .img-small}
</a>
</div>
<div class="col-md-4 col-sm-4" markdown="block">

### Tweets about #HealthHack ####

<a class="twitter-timeline" href="https://twitter.com/search?q=%23healthhack+from%3Acraigdbutt+OR+from%3Afctweedie+OR+from%3Asauramaia+OR+from%3Aokfnau+OR+from%3Arkstedman+OR+from%3ADrAndrewYap+OR+from%3Asixthforce+OR+from%3Aa_sean_fleming+OR+from%3Aalisonmarigold+OR+from%3AChrisChinch+OR+from%3ASirRustyroo+OR+from%3Aperrynfowler+OR+from%3AKathyReid+OR+from%3Apiawaugh+OR+from%3Adfflanders+OR+from%3ALeon_Vandenberg+OR+from%3Aannaleeanda+OR+from%3AJenniferSmithCo+OR+from%3Anicsmythe" data-widget-id="394592403312496640">Tweets about "#healthhack from:craigdbutt OR from:fctweedie OR from:sauramaia OR from:okfnau OR from:rkstedman OR from:DrAndrewYap OR from:sixthforce OR from:a_sean_fleming OR from:alisonmarigold OR from:ChrisChinch OR from:SirRustyroo OR from:perrynfowler OR from:KathyReid OR from:piawaugh OR from:dfflanders OR from:Leon_Vandenberg OR from:annaleeanda OR from:JenniferSmithCo OR from:nicsmythe"</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

</div>
</div>

<div class="row" markdown="block">
<div class="col-md-12" markdown="block">

### Photo stream 2013 ###

<div id="galleria" markdown="block">
</div>
</div>
</div>
