---
title: Health Hack 2013
layout: home
---

<div class="row" markdown="block">
<div class="col-md-6 col-sm-6" markdown="block">
<!--<div class="alert alert-warning">
<strong>Teams:</strong> Be sure to start setting up your team pages on the <a href="https://github.com/healthhack-melb/wiki/wiki">HealthHack Wiki</a>. Grab a helper if you need some help.
</div>-->


### Congratulations to our winners ###

![Gene Machine - winners](http://farm4.staticflickr.com/3684/10524030675_200f8326ea_b.jpg){: .img-responsive}

#### First prize - Gene Machine ####

[Working demo](http://gene-machine.herokuapp.com/){: .btn .btn-primary .btn-sm} [Team page](https://github.com/healthhack-melb/wiki/wiki/Gene-Machine){: .btn .btn-default .btn-sm}

A tool allowing researchers to easily and effectively assess genetic screening data, rapidly identifying anomalies and problems and expediting the refinement of clinical tests.

#### Second prize - EPI View ####

[Working demo](http://ec2-54-200-80-223.us-west-2.compute.amazonaws.com:8100/){: .btn .btn-primary .btn-sm} [Team page](https://github.com/healthhack-melb/wiki/wiki/EPI-View){: .btn .btn-default .btn-sm}

An application that biologists can use to load genome data files to visualise the entire genome in a Circos plot.

#### 'Spirit of HealthHack' prize - Paperboy! ####

[Working demo](http://paperboy.meteor.com/){: .btn .btn-primary .btn-sm} [Team page](https://github.com/healthhack-melb/wiki/wiki/Paperboy){: .btn .btn-default .btn-sm}

An app enabling researchers to plot academic paper search results on a heat map of the world, indicating volume of output based on university location.

</div>
<div class="col-md-6 col-sm-6" markdown="block">

### Tweets about #HealthHack ####

<a class="twitter-timeline" href="https://twitter.com/search?q=%23healthhack+from%3Acraigdbutt+OR+from%3Afctweedie+OR+from%3Asauramaia+OR+from%3Aokfnau+OR+from%3Arkstedman+OR+from%3ADrAndrewYap+OR+from%3Asixthforce+OR+from%3Aa_sean_fleming+OR+from%3Aalisonmarigold+OR+from%3AChrisChinch+OR+from%3ASirRustyroo+OR+from%3Aperrynfowler+OR+from%3AKathyReid+OR+from%3Apiawaugh+OR+from%3Adfflanders+OR+from%3ALeon_Vandenberg+OR+from%3Aannaleeanda+OR+from%3AJenniferSmithCo+OR+from%3Anicsmythe" data-widget-id="394592403312496640">Tweets about "#healthhack from:craigdbutt OR from:fctweedie OR from:sauramaia OR from:okfnau OR from:rkstedman OR from:DrAndrewYap OR from:sixthforce OR from:a_sean_fleming OR from:alisonmarigold OR from:ChrisChinch OR from:SirRustyroo OR from:perrynfowler OR from:KathyReid OR from:piawaugh OR from:dfflanders OR from:Leon_Vandenberg OR from:annaleeanda OR from:JenniferSmithCo OR from:nicsmythe"</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

</div>
</div>
<div class="row" markdown="block">
<div class="col-md-12" markdown="block">

### Photo stream ###

<div id="galleria" markdown="block">
</div>
</div>
</div>
