---
title: Judging Criteria
---

<div class="row">
  <div class="col-md-8">
<div markdown="block">

## Entries will be judged according to the following criteria, each scored out of 5.

### 1. Quality of Idea
How are you approaching the problem? Can your solution be generalised to solve similar problems? Will it generate excitement? Are you being creative in your approach?

### 2. Quality of Execution
What have you delivered this weekend? To what extent have you solved the problem? Have you delivered a working web application or just a prototype with static HTML pages? Have you got working, documented code in a GitHub repository with a nice readme, or just a scrappy mess?

### 3. Is it a Health Hack?
Does your solution fulfil the spirit and substance of HealthHack? Is it open? Did you work to solve a problem in collaboration with a researcher?
 </div>
  </div>

  <div class="col-md-4">
<div markdown="block">

## Judicial Committee

### [Dr Alison Stringer](http://creativecommons.org.nz/about/cc-mentors/)
[@alisonmarigold](https://twitter.com/alisonmarigold)

Alison has been opening up government public data under Creative Commons licenses since 2009, as well as helping others with their data and licensing issues. She is active in the open data and open research/science communities, and organises events with these communities every now and then.
Alison has been opening up government public data under Creative Commons licenses since 2009, as well as helping others with their data and licensing issues. She is active in the open data and open research/science communities, and organises events with these communities every now and then.

### [Dr Matt Ritchie](http://www.wehi.edu.au/faculty_members/dr_matthew_ritchie)
I'm a scientist at the Walter and Eliza Hall Institute of Medical Research in Melbourne.  I'm interested in the use of genomic technologies to better understand disease processes. I develop new statistical analysis methods and open source software in the popular [R-based Bioconductor project](http://www.bioconductor.org) to get the most out of the complex, genome-wide data sets that my colleagues routinely generate. [Further details on this work](http://www.wehi.edu.au/faculty_members/dr_matthew_ritchie)

### Dr Jarny Choi
Jarny works as a computational postdoc in Doug Hilton's lab at WEHI, supporting biological discovery using bioinformatics tools. He works on various projects including a collaboration with CSL to discover novel drug targets in blood cells, and finding key regulators of blood cell differentiation. He has particular expertise in developing bioinformatics tools which can be used directly by the biologists.

Jarny participated in HealthHack 2014 as a problem owner.

### Steve Bennett

### Anthony Sceresini
</div>
  </div>
</div>

