---
title: Organisers
---
<div class="container-white-background">
  <div class="top-container-organisers">
      <div class="row">
         <h1>Event Organisers</h1>
         <h3>Lorem Ipsum</h3>
      </div>
  </div>
  <div class="thin-container-normal">
    <div class="row">
      <div class="col-md-9 text-side">
        <div class="clearfix">
          <div class="organiser-image" style="background-image:url('img/KNPhotoBig.jpg')"></div>
          <div class="organiser-details">
            <h3>Kelvin Nicholson</h3>
            <p>Project Manager | Sydney</p>
            <a href="mailto:knichols@thoughtworks.com">knichols@thoughtworks.com</a>
          </div>
        </div>
        <p>
          Having worked in four countries and is a holder of multiple passports, Kelvin has had a unique opportunity to observe how different societies view open data. Having worked in government he was a relentless internal promoter of the virtues of open knowledge, and continues this promotion as a member of OKFN. His initial interest in open knowledge originated from seeing the benefits to society of releasing open data, especially within the transport domain. It is his belief that open data benefits both the organisation releasing the data, as well as the community it serves. He has participated in (or assisted with organising) all of Australia's GovHack events (2009, 2012, 2013, and 2014).
        </p>
        <p>
          In his spare time, Kelvin enjoys programming and working on his side technology-related projects, including building web-based services, and collecting environmental data using Arduinos. You can find him at the local Python or Quantified Self meet-ups, attending local talks on improving city liveability, or out bushwalking with his wife.
        </p>
        <p>Kelvin has a BSc in Information Systems, as well as a Masters in Transport Management.</p>
        <hr>
        <div class="clearfix">
          <div class="organiser-image" style="background-image:url('img/maiaHealthhack.jpg')"></div>
          <div class="organiser-details">
            <h3>Dr Maia Sauren</h3>
            <p>Consultant | Melbourne</p>
            <a href="mailto:msauren@thoughtworks.com">msauren@thoughtworks.com</a>
          </div>
        </div>
        <p>
          <b>Dr Maia Sauren</b> is a biomedical engineering researcher turned software consultant. Maia moonlights for the Open Knowledge Foundation, a not for profit that aims to help organisations make data and information available and open.
        </p>
        <hr>
      </div>
      <div class="col-md-3">
        <div class="right-info-box">
          <h3>Got a medical research problem that you want to solve?</h3>
          <p>Drop us a message with the details and we'll get back to you</p>
          <div class="clearfix"><button type="submit" class="btn-primary btn">SUBMIT A CHALLENGE</button></div>
        </div>
        <div class="right-info-box">
          <h3>Get involved, join the Health Hack in your city</h3>
          <p>Whether you are a developer, UX designer, data analyst or researcher, we want you.</p>
          <div class="clearfix"><button type="submit" class="btn-default btn">GET INVOLVED</button></div>
        </div>
      </div>
    </div>
  </div>
</div>








<!--

---
title: Organisers
---
<div class="row">
  <div class="col-xs-4 col-sm-4 col-md-6">
    <div class="text-center" style="vertical-align: middle;">
      <%= image_tag 'img/maiaHealthhack.jpg', :style => 'width:40%;', :alt => 'Maia' %>
    </div>
  </div>
  <div class="col-xs-8 col-sm-8 col-md-6">
    <div class="text-justify">
      <p>
        <b>Dr Maia Sauren</b> is a biomedical engineering researcher turned software consultant. Maia moonlights for the Open Knowledge Foundation, a not for profit that aims to help organisations make data and information available and open.
      </p>
      <p>
        Email: <a href="mailto:msauren@thoughtworks.com">msauren@thoughtworks.com</a><br/>
        Twitter: <a href="https://twitter.com/@sauramaia" target="_blank">@sauramaia</a>
      </p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-4 col-sm-4 col-md-6">
    <div class="text-center" style="vertical-align: middle;">
      <%= image_tag 'img/KNPhotoBig.jpg', :style => 'width:40%;', :alt => 'Kelvin' %>
    </div>
  </div>
  <div class="col-xs-8 col-sm-8 col-md-6">
    <div class="text-justify">
      <p>
        <b>Kelvin Nicholson</b> is a project manager from Sydney, Australia.
      </p>
      <p>
        Having worked in four countries and is a holder of multiple passports, Kelvin has had a unique opportunity to observe how different societies view open data. Having worked in government he was a relentless internal promoter of the virtues of open knowledge, and continues this promotion as a member of OKFN. His initial interest in open knowledge originated from seeing the benefits to society of releasing open data, especially within the transport domain. It is his belief that open data benefits both the organisation releasing the data, as well as the community it serves. He has participated in (or assisted with organising) all of Australia's GovHack events (2009, 2012, 2013, and 2014).
      </p>
      <p>
        In his spare time, Kelvin enjoys programming and working on his side technology-related projects, including building web-based services, and collecting environmental data using Arduinos. You can find him at the local Python or Quantified Self meet-ups, attending local talks on improving city liveability, or out bushwalking with his wife.
      </p>
      <p>
        Kelvin has a BSc in Information Systems, as well as a Masters in Transport Management.
        Email: <a href="mailto:knichols@thoughtworks.com">knichols@thoughtworks.com</a><br/>
        Twitter: <a href="https://twitter.com/@zephell" target="_blank">@zephell</a>
      </p>
    </div>
  </div>
</div>
<%= partial "partials/sponsors" %>
-->
