---
title: Organisers
---
<div class="container-white-background">
  <div class="top-container-organisers">
      <div class="row">
         <h1>Event Organisers</h1>
         <h3>The people who make it happen</h3>
      </div>
  </div>
  <div class="thin-container-normal">
    <div class="row">
      <div class="col-md-9 text-side" id="organiserList">

        <%= partial "organiserTemplate" %>
        <script src="./javascripts/load_organisers.js"></script>

      </div>
      <div class="col-md-3">
          <%= partial(:submitProblemCallout, :locals => { :className => "right-info-box" }) %>
          <%= partial(:getInvolvedCallout, :locals => { :className => "right-info-box" }) %>
      </div>
    </div>
  </div>
</div>
