---
title: What to expect at a Hackathon?
---



<div markdown="block">

## What to expect at a Hackathon?

You are a problem and product owner for the duration of this hackathon. You will be a central part of the team! You or another scientist quite familiar with the problem and data will need to be there for as much of the weekend as possible and reasonable. We do close overnight and encourage everyone to sleep and shower.

Dropping in and out on saturday and sunday is fine. It would be good if you could make yourself available to answer questions, explain what you need, test solutions, have a look at what's going on, guide the team on what's useful etc. That's especially true of the early parts of the hack. Whatever is reasonable for you is right ​don't be afraid to say 'i'm going home now and I'll be back at time X'.

### KICK OFF

We kick off Friday evening 6pm with drinks and food. After some brief introductory speeches, you and all the other problem owners will be given a minute each to pitch your ideas. Please describe the issue you'd like help with, how it affects your life, and how solving this problem might make your life or the lives of others easier. You don't need slides, but if you think it will help you explain your problem, feel free to make one or two. If you have an idea of the kinds of skills necessary to solve this problem (data visualisation, web app, APIs), now would be a good time to bring it up. If you are unsure of what is needed, don't worry, that's what this Event is all about ­​ bringing multiple skills to the table and figuring out how to solve problems together.

### PITCHING

After pitching, groups form centred on problems and problem owners. You will likely be asked a lot of questions by a lot of people, until everyone figures out what they want to work on. This is a good sign. The organisers will be on hand to help teams sort out useful groupings. Usually people want to get started on problems Friday evening, once they've sorted out teams and figured out what they're doing, so that might be bit of a late evening.

#### The HealthHack kicks off on Friday 24th October at 6pm and continues all day and night on Saturday 25th concluding in the evening on Sunday 26th. Festivities wrap up on the Sunday at 4pm with tools down, then judging and prizes.

We'll need a writeup of the problem to put on the site ahead of time, including a 1-sentence and a 1-paragraph summary. We are happy to provide as much help as possible with that. The earlier the better. You may need to clear that with your institution, including the marketing department. It would be great if you could include a sentence or two about the kind of real life applications your work might lead to. We will also need a bio of you, feel free to point us towards one online. If you are using your research data, please take care of any permissions to have it seen & used by someone outside your institute. We will be using NeCTAR infrastructure to host, process and display all work. Please provide your data ahead of time, and links to any datasets that might be useful over the weekend, so we can organise that.

</div>

<%= partial "partials/sponsors" %>
