---
title: Winners | Health Hack 2013
---
<h2 class="lead">A datahack for medical research problems</h2>
<p>HealthHack 2013 was a weekend hackfest solving problems that medical researchers face. HealthHack brought together medical researchers, bioinformaticians, software developers, data analysts, data visualisers and designers. Together, they created new software tools to analyse, visualise and communicate data.</p>

<div class="row" markdown="block">
<div class="col-md-12" markdown="block">

## Winners ##

</div>
</div>

<div class="row" markdown="block">
<div class="col-md-4 col-sm-4" markdown="block">

![Gene Machine - winners](http://farm4.staticflickr.com/3684/10524030675_200f8326ea_b.jpg){: .img-responsive}

</div>
<div class="col-md-8 col-sm-8" markdown="block">

#### First prize - Gene Machine ####

[Working demo](http://gene-machine.herokuapp.com/){: .btn .btn-primary .btn-sm .hipsterteal} [Team page](https://github.com/healthhack-melb/wiki/wiki/Gene-Machine){: .btn .btn-default .btn-sm}

A tool allowing researchers to easily and effectively assess genetic screening data, rapidly identifying anomalies and problems and expediting the refinement of clinical tests.

</div>
</div>
<div class="row" markdown="block">
<div class="col-md-4  col-sm-4" markdown="block">

![EPI View - second place](http://farm8.staticflickr.com/7325/10524251083_094f837a9c_z.jpg){: .img-responsive}

</div>
<div class="col-md-8 col-sm-8" markdown="block">

#### Second prize - EPI View ####

[Working demo](http://ec2-54-200-80-223.us-west-2.compute.amazonaws.com:8100/){: .btn .btn-primary .btn-sm .hipsterteal} [Team page](https://github.com/healthhack-melb/wiki/wiki/EPI-View){: .btn .btn-default .btn-sm}

An application that biologists can use to load genome data files to visualise the entire genome in a Circos plot.
</div>
</div>
<div class="row" markdown="block">
<div class="col-md-4 col-sm-4" markdown="block">

![Paperboy! - Spirit of HealthHack award](http://farm3.staticflickr.com/2848/10524034235_d6b6cab44f_z.jpg){: .img-responsive}

</div>
<div class="col-md-8 col-sm-8" markdown="block">
#### 'Spirit of HealthHack' prize - Paperboy! ####

[Working demo](http://paperboy.meteor.com/){: .btn .btn-primary .btn-sm .hipsterteal} [Team page](https://github.com/healthhack-melb/wiki/wiki/Paperboy){: .btn .btn-default .btn-sm}

An app enabling researchers to plot academic paper search results on a heat map of the world, indicating volume of output based on university location.
</div>
</div>
