---
title: Winners | Health Hack 2013
---
<div class="row" markdown="block">
<div class="col-md-12" markdown="block">

## Winners ##

</div>
<div class="col-md-12" markdown="block">

### Congratulations to the 2013 HealthHack winners! ###

#### First prize - [Gene Machine](https://github.com/healthhack-melb/wiki/wiki/Gene-Machine) #### 

#### Second prize - [EPI view](https://github.com/healthhack-melb/wiki/wiki/EPI-View) ####

#### 'Spirit of HealthHack' award - [Paperboy!](https://github.com/healthhack-melb/wiki/wiki/Paperboy) ####

</div>
</div>
