---
title: Sydney
---

<html>
  <head>
    <title>sdfsdf</title>
    <style>
      #map_canvas {
        width: 250px;
        height: 250px;
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script>
      function initialize() {
        var mapCanvas = document.getElementById('map_canvas');
        var mapOptions = {
          center: new google.maps.LatLng(-33.863001,151.208787),
          zoom: 8,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(mapCanvas, mapOptions)
        var marker = new google.maps.Marker({
            position: new google.maps.LatLng(-33.863001,151.208787),
            map: map,
            title: 'Sydney'
        });

      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </head>
  <body>

    <div class="row">
      <div class="col-md-9">
        <h3><b>Sydney HealthHack Challenges</b></h3>

        <ul class="pagination">
          <li><a href="/locations/sydney/challenge2">&laquo;</a></li>
          <li><a href="/locations/sydney/challenge1">1</a></li>
          <li><a href="/locations/sydney/challenge2">2</a></li>
          <li class="active"><a href="/locations/sydney/challenge3">3</a></li>
          <li><a href="/locations/sydney/challenge4">4</a></li>
          <li><a href="/locations/sydney/challenge4">&raquo;</a></li>
        </ul>

        <div markdown="block">
***
</div>

        <div class="row">
          <div class="col-md-8">
            <h3>Life expectancy calculations for Aboriginal and Torres Strait Islander</h3>
            <em><h4>Presented by <a href="http://sydney.edu.au/health-sciences/about/people/profiles/clare.coleman.php" target="_blank">Dr Clare Coleman</a>, Senior Research Fellow, Sydney Centre for Aboriginal and Torres Strait Islander Statistics (SCATSIS) | Faculty of Health Sciences, The University of Sydney </h4></em>
          </div>
          <div class="col-md-4">
            <a href="http://sydney.edu.au/" target="_blank"><%= image_tag 'img/sponsors/usyd.png', :alt => 'The University of Sydney' %></a>
          </div>
        </div>

<div markdown="block">
***

Life expectancy calculations for Aboriginal and Torres Strait Islander men and women are subject to a large number of assumptions.
I would like a model that shows the differences that differing underlying assumptions make. The ABS and AIHW both have different assumptions of under-identification in different age groups, they don’t put errors around that but we could! We could look at a variety of models and see what we come up with, and if it is different from the official statistics.
Something graphical that lets people get away from the life tables.

I am only using publicly available data and I will have it and background documentation available on the day.

***
</div>


      <%= partial "disqus" %>
      </div>
      <div class="col-md-3">
        <div id="map_canvas"></div>
        <h3>Address:</h3>
        <p>ThoughtWorks Australia Pty. Ltd.
            8/51 Pitt Street
            Sydney NSW 2000</p>
        <h3>Organisers:</h3>
        <p>Kelvin Nicholson</p>
        <p>Svetlana Filimonova</p>
      </div> 
    </div> 
  </body>
  <%= partial "sponsors" %>
</html>