---
title: Sydney
---

<html>
  <head>
    <title>sdfsdf</title>
    <style>
      #map_canvas {
        width: 250px;
        height: 250px;
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script>
      function initialize() {
        var mapCanvas = document.getElementById('map_canvas');
        var mapOptions = {
          center: new google.maps.LatLng(-33.863001,151.208787),
          zoom: 8,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(mapCanvas, mapOptions)
        var marker = new google.maps.Marker({
            position: new google.maps.LatLng(-33.863001,151.208787),
            map: map,
            title: 'Sydney'
        });

      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </head>
  <body>

    <div class="row">
      <div class="col-md-9">
        <h3><b>Sydney HealthHack Challenges</b></h3>

        <ul class="pagination">
          <li class="disabled"><a href="/locations/sydney/challenge1">&laquo;</a></li>
          <li class="active"><a href="/locations/sydney/challenge1">1</a></li>
          <li><a href="/locations/sydney/challenge2">2</a></li>
          <li><a href="/locations/sydney/challenge3">3</a></li>
          <li><a href="/locations/sydney/challenge4">4</a></li>
          <li><a href="/locations/sydney/challenge5">5</a></li>
          <li><a href="/locations/sydney/challenge6">6</a></li>
          <li><a href="/locations/sydney/challenge7">7</a></li>
          <li><a href="/locations/sydney/challenge2">&raquo;</a></li>
        </ul>

<div markdown="block">
***  
</div>


         <div class="row">
          <div class="col-md-9">
            <h3> An online pedigree drawing tool that can be linked to patient data </h3>
            <em><h4>Presented by <a href="http://sydney.edu.au/medicine/people/academics/profiles/andreas.zankl.php" target="_blank">Professor Andreas Zankl</a>, Garvan Institute</h4></em>
          </div>
          <div class="col-md-3">
<a href="http://www.garvan.org.au/" target="_blank"><%= image_tag 'img/sponsors/garvan.jpg', :style => 'width:150px;',:alt => 'Garvan Institute' %></a>
          </div>
        </div>
        <br/>

<div markdown="block">

***

  Tracking clinical features through families and linking them to
  genetic variants is a frequent task in clinical genetics and genetics
  research. This is frequently done through pedigree drawings (family
  trees). Unfortunately, due to the lack of easy to use pedigree drawing
  programs, this is usually done manually on a piece of paper. This
  makes pedigree drawings difficult to handle and also precludes any
  computational analysis. For example, you cannot click on an individual
  in a paper-drawn pedigree to open the associated database record.

  My proposition for the HealthHack is to build a prototype of a tool
  which will allow to draw pedigree charts and export the drawn
  information in a standard file format. The tool should be easy to use
  and also easy to integrate into existing frameworks. There are a
  number of existing pedigree drawing open source projects but none of
  them offer the functionality described above. Maybe we can hack some
  of those into doing what we need.

***

</div>

      <%= partial "disqus" %>
      </div>
      <div class="col-md-3">
        <div id="map_canvas"></div>
        <h3>Address:</h3>
        <p>ThoughtWorks Australia Pty. Ltd.
            8/51 Pitt Street
            Sydney NSW 2000</p>
      </div> 
    </div> 
  </body>
  <%= partial "sponsors" %>
</html>