---
title: Sydney
---

<html>
  <head>
    <title>sdfsdf</title>
    <style>
      #map_canvas {
        width: 250px;
        height: 250px;
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script>
      function initialize() {
        var mapCanvas = document.getElementById('map_canvas');
        var mapOptions = {
          center: new google.maps.LatLng(-33.863001,151.208787),
          zoom: 8,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(mapCanvas, mapOptions)
        var marker = new google.maps.Marker({
            position: new google.maps.LatLng(-33.863001,151.208787),
            map: map,
            title: 'Sydney'
        });

      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </head>
  <body>

    <div class="row">
      <div class="col-md-9">
        <h3><b>Sydney HealthHack Challenges</b></h3>

        <ul class="pagination">
          <li><a href="/locations/sydney/challenge7">&laquo;</a></li>
          <li><a href="/locations/sydney/challenge1">1</a></li>
          <li><a href="/locations/sydney/challenge2">2</a></li>
          <li><a href="/locations/sydney/challenge3">3</a></li>
          <li><a href="/locations/sydney/challenge4">4</a></li>
          <li><a href="/locations/sydney/challenge5">5</a></li>
          <li><a href="/locations/sydney/challenge6">6</a></li>
          <li><a href="/locations/sydney/challenge7">7</a></li>
          <li class="active"><a href="/locations/sydney/challenge8">8</a></li>
          <li class="disabled"><a href="/locations/sydney/challenge8">&raquo;</a></li>
        </ul>

        <div markdown="block">
***
</div>

        <div class="row">
          <div class="col-md-9">
            <h3>One Disease - Proof of concept for Health Hack</h3>
            <em><h4>Presented by Shelley Thompson, <a href="http://1disease.org/" target="_blank">One Disease</a></h4></em>
          </div>
          <div class="col-md-3">
            <!--<a href="http://www.garvan.org.au/" target="_blank"><%= image_tag 'img/sponsors/garvan.jpg', :style => 'width:150px;',:alt => 'Garvan Institute' %></a>-->
          </div>
        </div>

<div markdown="block">

***

#### Background
Indigenous Australians live 1–2 decades less than their non-Indigenous counterparts. Scabies affects 7 out of 10 Indigenous children at least once before their first birthday. What presents as an innocent itch can lead to heart and kidney failure and ultimately premature death. One Disease aims to eliminate scabies, because we believe no Australian should die of a preventable disease.
   
Currently, prevalence rates of scabies in Indigenous communities are established through screening events, or based on clinic presentation data. In screening events, a questionnaire developed from a sales app (DoForms) is used. In this, demographic information is preloaded onto the form, data is either typed or entered numerically during the screening, and the information is downloaded to an excel spreadsheet at the completion of the screening. This process has served the team well thus far, however there are limitations with accessibility due to the high level of English literacy and numeracy required to complete the form.

#### A proposed solution
If we were able to develop an app that relied more strongly on visual cues and media—using images and pictographs rather than words or numbers to complete the diagnostic algorithm—it would become more accessible to the Indigenous workforce and open the app up for greater use. Increased uptake would lead to increased screening, a better informed picture of the size of the scabies problem, and ultimately a more coordinated and comprehensive response to it. A visually based app would allow community members to take part in disease control efforts—effectively empowering them to crowd-source management of their own health. An open access app will also open the door for crowd-sourced surveillance of scabies if it is adopted for use by Government and Aboriginal Community Controlled Health Clinics.

<p>
The proposed app would require the following technologies:
<li>Data collection will take the form of a tablet-based app with GPS capability. The app will need the ability to function offline (due to connectivity restrictions in the remote areas we operate) and community demographic data (including names, dates of birth) will need to be preloaded.</li>
<li>The interface must cater for English as a second language and low technology consumers and use strong visual inputs, including the ability to draw/finger paint onto images, image capture and storage capability, options for selecting images from a photo gallery (eg, skin sore gallery to drag and drop onto a diagram of a body)</li>
<li>Collected records require storage on a highly secure cloud device, employing encryption and security technologies. Data is initially identifiable, therefore security is critical. Access will be from multiple sites, by multiple users, and content will need to be downloaded and stored for analysis</li>
</p>

<p>
From a data analysis perspective:
<li>Patient information needs to be able to be uploaded to the form from an excel or csv file (name, DOB, address, age at screening, sex, etc)</li>
<li>Group results need to be downloaded to an excel or csv file following screening for analysis</li>
<li>Diagnostic algorithm that currently sits behind screening table needs to be preserved in visual translation</li>
<li>Conditionality needs to be built into the form- i.e. certain questions arise as a result of answers to previous questions</li>
</p>


***

</div>


        <%= partial "disqus" %>
      </div>
      <div class="col-md-3">
        <div id="map_canvas"></div>
        <h3>Address:</h3>
        <p>ThoughtWorks Australia Pty. Ltd.
            8/51 Pitt Street
            Sydney NSW 2000</p>
      </div> 
    </div> 
  </body>
  <%= partial "sponsors" %>
</html>