---
title: Sydney
---

<html>
  <head>
    <title>sdfsdf</title>
    <style>
      #map_canvas {
        width: 250px;
        height: 250px;
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script>
      function initialize() {
        var mapCanvas = document.getElementById('map_canvas');
        var mapOptions = {
          center: new google.maps.LatLng(-33.863001,151.208787),
          zoom: 8,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(mapCanvas, mapOptions)
        var marker = new google.maps.Marker({
            position: new google.maps.LatLng(-33.863001,151.208787),
            map: map,
            title: 'Sydney'
        });

      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </head>
  <body>

    <div class="row">
      <div class="col-md-9">
        <h3><b>Sydney HealthHack Challenges</b></h3>

        <ul class="pagination">
          <li><a href="/locations/sydney/challenge3">&laquo;</a></li>
          <li><a href="/locations/sydney/challenge1">1</a></li>
          <li><a href="/locations/sydney/challenge2">2</a></li>
          <li><a href="/locations/sydney/challenge3">3</a></li>
          <li class="active"><a href="/locations/sydney/challenge4">4</a></li>
          <li><a href="/locations/sydney/challenge5">5</a></li>
          <li><a href="/locations/sydney/challenge6">6</a></li>
          <li><a href="/locations/sydney/challenge7">7</a></li>
          <li><a href="/locations/sydney/challenge5">&raquo;</a></li>
        </ul>

        <div markdown="block">
***
</div>

        <div class="row">
          <div class="col-md-9">
            <h3>Automated way of comparing sequencing results to a template, identifying the point mutations and amino acid substitutions, and presenting the analyses in an appropriate table format</h3>
            <em><h4>Presented by Dr Tyani Chan and Dr Liviu Constantinescu, Garvan Institute</h4></em>
          </div>
          <div class="col-md-3">
            <a href="http://www.garvan.org.au/" target="_blank"><%= image_tag 'img/sponsors/garvan.jpg', :style => 'width:150px;',:alt => 'Garvan Institute' %></a>
          </div>
        </div>

<div markdown="block">

***

Our lab needs an automated way of comparing sequencing results to a template, identifying the point mutations and amino acid substitutions, and presenting the analyses in an appropriate table format.

#### The Significance of Our Research
Our Immunology research explores Germinal Centres, discrete structures found in lymphoid tissues (such as spleen and lymph nodes), that underpin current vaccine strategies and also form the basis of long-lived antibody protection from viruses & bacteria. We use experimental mouse models to study the Somatic Hypermutation (SHM) process that occurs within B Cell Antigen Receptors in the Germinal Centre, which generates high-affinity B cells and therefore high-quality, long-lived antibody protection. When tight control systems within the Germinal Centre break down, this results in immune disorders such as autoimmune disease and allergy.

#### The Problem
After performing flow cytometry based experiments that sort single spleen cells from mice responding to an infection, we PCR amplify the DNA from a single cell’s B Cell Antigen Receptor using a nested PCR approach, and obtain sequencing results covering the region of interest, which is 113 amino acids long.

We would love to have a tool or application that allows us to fully automate our analyses, which currently costs us several days of researcher time, which we imagine could be reduced to several minutes.

The manual analysis currently involves the following steps:<br/>
1) Compare sequencing results (.seq file) to wild-type template<br/>
2) Identify where the mutations lie<br/>
3) Check the validity and quality of the read by studying the chromatogram trace (.ab1 file)<br/>
4) If the quality is sufficient, trim the sequence result such that only the region of interest remains, and translate the nucleic acids into amino acids.<br/>
5) In an Excel spreadsheet (with the help of some basic macros), we copy the amino acid sequence from ApE or DNA Strider into Excel, convert text to columns (to get 1 letter in 1 cell) and then copy /paste the 113 amino acid sequence into a separate Excel spreadsheet.<br/>
6) Using some basic formulae, these sequences are placed into a table that only shows the amino acid substitions and not those amino acids that match the original template (germline sequence). Please see attached example table.<br/>
7) This table is then converted to pdf format to allow manipulation of colours, line weights etc in Adobe Illustrator, ready for manuscript submission or conference presentations.

#### In an Ideal World…
We would have the ability to:<br/>
1) Upload/ attach our sequencing results<br/>
2) Have the software tool do the rest, including the ‘human’ part of checking the quality of the read by studying the chromatogram trace (.ab1 file).<br/>
3) Perhaps even apply this to the nucleic acids and not just the amino acids, although the amino acid sequences are the main priority.

#### What this achieves, how it would help us, and challenges
A tool such as this would save us a huge amount of researcher time! We would generate approximately 100 sequences per treatment group, and on average we’d have 6 groups per experiment.<br/>
We do individual sequences one by one, and this becomes incredibly tiring (especially for the eyes) which makes human-error highly likely. We have been fortunate to have had some help on this problem before, but sadly we’ve only managed to get some of the way. The main challenge has been identifying a high quality sequencing read from a poor-quality read.

***

</div>


        <%= partial "disqus" %>
      </div>
      <div class="col-md-3">
        <div id="map_canvas"></div>
        <h3>Address:</h3>
        <p>ThoughtWorks Australia Pty. Ltd.
            8/51 Pitt Street
            Sydney NSW 2000</p>
      </div> 
    </div> 
  </body>
  <%= partial "sponsors" %>
</html>