<div class="row">
  <div class="col-md-12">

    <h3 id="winners"><b>Sydney Winners 2014</b></h3><br/>

  </div>
</div>

<div class="row">
  <div class="col-md-4 col-sm-4">

    <!--<p><img alt="First place winners" class="img-responsive" src="https://pbs.twimg.com/media/B06KbTFCcAACbms.jpg" /></p>-->

  </div>
  <div class="col-md-8 col-sm-8">

    <h4>First place - Panogram Pedigree Drawing Tool</h4>

    <p><a class="btn btn-primary btn-sm hipsterteal" href="http://www.youtube.com/watch?v=SOY9mx1irnY&feature=youtu.be" target="_blank">Working demo</a> <a class="btn btn-default btn-sm" href="https://github.com/HealthHackAu/HealthHack2014/wiki/Panogram----Pedigree-Drawing-Tool" target="_blank">Team page</a></p>

    <p>An online pedigree drawing tool that can be linked to patient data</p>

  </div>
</div>
<div class="row">
  <div class="col-md-4  col-sm-4">

    <p><img alt="Second place winners" class="img-responsive" src="/img/winners/syd_second_place.png" /></p>

  </div>
  <div class="col-md-8 col-sm-8">

    <h4>Second place - Team Autoimmuno</h4>

    <p><a class="btn btn-primary btn-sm hipsterteal" href="https://www.youtube.com/watch?v=z2uUeWUg61U" target="_blank">Working demo</a> <a class="btn btn-default btn-sm" href="https://ccg.garvan.org.au/confluence/display/GOSS/Automated+Comparison,+Mutation+Annotation+and+Amino+Acid+Substitutions+with+CSV+Export" target="_blank">Team page</a></p>

    <p>Automated Comparison, Mutation Annotation and Amino Acid Substitutions with CSV Export</p>
  </div>
</div>
<div class="row">
  <div class="col-md-4 col-sm-4">

    <p><img alt="Spirit of HealthHack award" class="img-responsive" src="https://pbs.twimg.com/media/B06KbTFCcAACbms.jpg" /></p>

  </div>
  <div class="col-md-8 col-sm-8">
    <h4>‘Spirit of HealthHack’ prize - Team Zenome</h4>

    <p><a class="btn btn-primary btn-sm hipsterteal" href="https://www.youtube.com/watch?v=8ZGAXwVAOiU" target="_blank">Working demo</a> <a class="btn btn-default btn-sm" href="https://ccg.garvan.org.au/confluence/display/GOSS/Building+a+Platform+to+Aggregate+and+Visualize+Genome+Sequencing+Metrics" target="_blank">Team page</a></p>

    <p>Building a Platform to Aggregate and Visualize Genome Sequencing Metrics</p>
  </div>
</div>